@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
    background-color: #F5F4F4;
}

.bg-autumn-red {
  background-color: #D14932;
}

.bg-harvest-gold {
  background-color: #FFC93C;
}

.bg-pumpkin-orange {
  background-color: #FF6B35;
}

.bg-earthy-brown {
  background-color: #8D6E63;
}

.text-autumn-yellow {
  color: #FFD700;
}

.text-earthy-brown {
    color:  #8D6E63;
}

.bg-forest-green {
  background-color: #228B22;
}

  
