@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
    background-color: #fcf7f5;
}


.bg-earthy-brown {
  background-color: #8D6E63;
}

.text-earthy-brown {
    color:  #8D6E63;
}

  
